# İndeksleme ve matematik işlemler

In [2]:
import pandas as pd

In [29]:
ülke = pd.read_csv("ülke.csv",squeeze=True)
ülke

0                 ABD
1                 Çin
2             Japonya
3             Almanya
4           İngiltere
5              Fransa
6           Hindistan
7              İtalya
8            Brezilya
9              Kanada
10              Rusya
11         GÜney Kore
12            İspanya
13        Avusturalya
14            Meksika
15          Endonezya
16           Hollanda
17            Türkiye
18    Suudi Arabistan
19            İsviçre
Name: Ülke, dtype: object

In [9]:
ülke[:10]

0          ABD
1          Çin
2      Japonya
3      Almanya
4    İngiltere
5       Fransa
6    Hindistan
7       İtalya
8     Brezilya
9       Kanada
Name: Ülke, dtype: object

In [5]:
ülke = pd.read_csv("ülke.csv")
ülke[15:]

               Ülke
15        Endonezya
16         Hollanda
17          Türkiye
18  Suudi Arabistan
19          İsviçre

# matematik işlemler

In [7]:
gelir=pd.read_csv("milligelir.csv")
gelir

    Milli Gelir
0      20410000
1      14090000
2       5170000
3       4210000
4       2940000
5       2930000
6       2850000
7       2180000
8       2140000
9       1800000
10      1720000
11      1690000
12      1510000
13      1500000
14      1210000
15      1070000
16       945000
17       910000
18       748000
19       741000

In [22]:
gelir.count()

Milli Gelir    20
dtype: int64

In [23]:
len(gelir)

20

In [24]:
gelir.sum()

Milli Gelir    70764000
dtype: int64

In [25]:
gelir.agg(['min','mean','max'])

      Milli Gelir
min      741000.0
mean    3538200.0
max    20410000.0

In [26]:
gelir.mean()

Milli Gelir    3538200.0
dtype: float64

In [27]:
gelir.std()

Milli Gelir    4.935789e+06
dtype: float64

In [28]:
gelir.max()

Milli Gelir    20410000
dtype: int64

In [19]:
gelir.max()

20410000

In [20]:
gelir.min()

741000

In [21]:
gelir.median()

1760000.0

In [5]:
gelir.describe()

count    2.000000e+01
mean     3.538200e+06
std      4.935789e+06
min      7.410000e+05
25%      1.175000e+06
50%      1.760000e+06
75%      2.932500e+06
max      2.041000e+07
Name: Milli Gelir, dtype: float64

In [10]:
gelir.sample(n=3)

9     1800000
2     5170000
0    20410000
Name: Milli Gelir, dtype: int64

In [12]:
gelir.sample(frac=0.2)

    Milli Gelir
16       945000
3       4210000
9       1800000
17       910000